/* Navbar Styling */
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: "Cairo", sans-serif;
  }
  a {
    text-decoration: none;
    color: #0d0d0d;
  }
  body {
    position: relative;
    background: #f5f5f5;
    overflow-x: hidden;
  }
  nav {
    background: #f5f5f5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0px 3px #807f7f4d;
    transition: 0.7s ease-in-out;
  }
  nav #logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 9px;
    line-height: 12px;
  }
  nav img {
    width: 60px;
  }
  nav .nav_links {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 65px;
    font-size: 20px;
  }
  nav .nav_links a {
    position: relative;
    color: #f5f5f5;
  }
  nav .nav_links a::after,
  .nav_links .active::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    background: linear-gradient(to right, transparent, #dddf8c);
    transition: all 0.3s ease;
  }
  .nav_links .active::after {
    width: 100%;
  }
  nav .nav_links a::after {
    width: 0;
  }
  nav .nav_links a:hover::after {
    width: 100%;
  }
  nav .nav_icons,
  .times{
      display: none;
  }
  .scrolled {
    transition: 0.7s ease-in-out;
    background: #f5f5f5;
    color: #0d0d0d;
  }
  .scrolled .nav_links a {
    color: #0d0d0d;
  }
  .scrolled #logo {
    color: #0d0d0d;
  }
  main{
    height: 50vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer{
    padding: 80px 90px 140px;
    display: flex;
    justify-content: space-between;
}
footer > div{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
footer #contactus{
    width: 50%;
}
footer #logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}
footer img {
    width: 120px;
  }

  
@media screen and (max-width: 768px) {
    nav {
        padding: 20px;
        background: #f5f5f5;
      }
      nav .nav_links {
        display: none;
        flex-direction: column;
        padding: 50px 10px;
        gap: 50px;
        position: fixed;
        top: 0;
        left: 0;
        background: #f5f5f5;
        width: 100%;
        height: 100vh;
      }
      nav .nav_links a{
        color: #0d0d0d;
      }
      nav .nav_icons{
          display: block;
        position: absolute;
        right: 60px;
      }
      .times{
          display: none;
          color: #0d0d0d;
          position: absolute;
          right: 43px;
          top: 30px;
      }

      footer{
        padding: 80px 20px;
        flex-direction: column;
        gap: 30px;
        line-height: 28px;
    }
    footer #contactus{
        width: 100%;
    }
    footer img {
        width: 80px;
      }
}